.emoji_container{
    width: 465px;
    overflow: hidden;
    position: absolute;
    display: none;
    border: 1px solid #bfbfbf;
    background-color: #efefef;
    box-shadow: 0 1px 3px rgba(0,0,0,0.176);
}
.emoji_container .emoji_content{
    width: 4000px;
    margin-top: 7px;
    padding-left: 2px;
    padding-right: 2px;
}
.emoji_container .emoji_content .emoji_item{
    padding: 1px;
    margin: 0;
    width: 465px;
    float: left;
    height: 195px;
    overflow: hidden;
    overflow-y: scroll;
    background-color: #fefefe;
    border-collapse: collapse;
}
.emoji_container .emoji_content .emoji_item ul{
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding-top: 1px;
}
.emoji_container .emoji_content  .emoji_item ul li{
    padding: 5px;
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: -1px;
    margin-top: -1px;
    border: 1px solid rgba(177,177,177,0.4);
}
.emoji_container .emoji_content  .emoji_item ul li img{
    vertical-align: middle;
    max-width: 28px;
    max-height: 28px;
    margin: 0 auto;
    display: block;
}

.emoji_container .emoji_tabar{
    border-top: 1px solid rgba(177,177,177,0.4);
    width: 100%;
    height: 38px;
    clear: both;
    margin: 0;
    background-color: #efefef;
}
.emoji_container .emoji_tabar ul{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    /*border: 1px solid red;*/
}
.emoji_container .emoji_tabar ul li{
    display: inline-block;
    padding: 5px;
    height: 100%;
    background-color: rgba(177,177,177,0.1);
    border-right: 1px solid rgba(177,177,177,0.4);
    border-radius: 3px;
    margin-left: 0;
}